

/*zbody {
  background-color: var(--background-color);
>>>>>>> Stashed changes
  color: var(--primary-text-color);
}

.secondary-text {
  color: var(--secondary-text-color);
}

.accent {
  color: var(--accent-color);
}

:root {
   
  --background-color: rgb(64, 117, 152);
  --primary-text-color: #AEB8B7ff;
  --secondary-text-color: #161116ff;
  --accent-color: #1C2430ff;
}*/

/*[data-theme="dark"] {
  
  --background-color: #161116ff;
  --primary-text-color: #AEB8B7ff;
  --secondary-text-color: #6E746Dff;
  --accent-color: #1C2430ff;
}*/
